{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Customer List</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Customer ID</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.1|safe }}</td> <!-- First Name -->
                    <td>{{ customer.2 }}</td> <!-- Last Name -->
                    <td>{{ customer.3 }}</td> <!-- Customer ID -->
                    <td>{{ customer.4 }}</td> <!-- Phone Number -->
                    <td>{{ customer.5 }}</td> <!-- Email -->
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No customers available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
