{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}
<!--Override the default container-->
<style>
    .container {
        background: none;
        box-shadow: none;
        width: auto;
        padding: 0;
    }
</style>

<div class="customer-list-container">
    <h1>Customer List</h1>

    <div class="customer-list">
        {% for customer in customers %}
        <div class="customer-item">
            <p><strong>First Name:</strong> {{ customer.1|safe }}</p>
            <p><strong>Last Name:</strong> {{ customer.2 }}</p>
            <p><strong>Customer ID:</strong> {{ customer.3 }}</p>
            <p><strong>Phone Number:</strong> {{ customer.4 }}</p>
            <p><strong>Email:</strong> {{ customer.5 }}</p>
        </div>
        {% empty %}
        <p>No customers available.</p>
        {% endfor %}
    </div>

    <div class="button-container">
        <a href="{% url 'user_home' %}" class="btn btn-secondary">Back to User Home</a>
    </div>
</div>
{% endblock %}
