{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <!-- כפתור Login -->
                <button type="submit" class="btn">Login</button>

                <!-- כפתור Forgot Password -->
                <a href="{% url 'forgot_password' %}" class="btn">Forgot Password?</a>

                <!-- כפתור Back to Welcome -->
                <a href="{% url 'home' %}" class="btn">Back to Welcome</a>
            </div>
        </form>
    </div>
{% endblock %}
