{% extends 'base.html' %}

{% block title %}User Home{% endblock %}

{% block content %}
    <div class="form-container">

        <h1>Welcome to User Home</h1>


        <div class="button-container">
            <a href="{% url 'create_customer' %}" class="btn">Create New Customer</a>
        </div>


        <div class="button-container">
            <a href="{% url 'change_password' %}" class="btn">Change Password</a>
        </div>


        <div class="button-container">
            <a href="{% url 'customer_list' %}" class="btn">View Customer List</a>
        </div>


        <div class="button-container">
            <a href="{% url 'home' %}" class="btn">Back To Welcome Page</a>
        </div>
    </div>
{% endblock %}





